body {
    background-color: #292929;
}
h1 {
    color: #FFFFFF;
    text-align: center;
}
img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    float: right;
}
div {
    column-count: 2;
    column-gap: 40px;
  }