body {
    background-color: #292929;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 45px;
}

p {
    color: #ebd89f;
    text-align: center;
    font-size: 17.5px;
    position: relative; bottom: 15px;
    letter-spacing: 0.25px;
}

body1 h1 {
    color: #1EB53A;
    text-align: center;
    font-size: 35px;
}

.yellow-text {
    color: #FCD116;
}

.link-text {
    color: #00A3DD;
}

.contrast-text {
    color: #ebd89f;
}

#container1 {
    position: relative; top: 20px;
    display: grid;
    align-items: center; 
    grid-template-columns: 60% 40%;
    column-gap: 1px;
}

#intro {
    margin-left: 55px;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 2;
   }

#image {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative; top: 0.5px;
    color: #FFFFFF;
}

#image p2 {
    color: #ebd89f;
    position: relative; top: 5px;
}

#image1 {
    height: 190px;
    border-radius: 6px;
    border: 3px solid #00A3DD;
    padding: 5px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

body2 h1 {
    color: #1EB53A;
    text-align: center;
    font-size: 35px;
    position: relative; top: 35px;
  }

.fade {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    text-align: center;
  }

#container1:hover #image1 {
    opacity: 0.3;
  }
  
#container1:hover .fade {
    opacity: 1;
  }
  
.hovertext {
    background-color: #292929;
    color: #FFFFFF;
    font-size: 20px;
  }

#container2 {
    display: grid;
    align-items: center; 
    grid-template-columns: 40% 60%;
    column-gap: 1px;
    position: relative; top: 60px;
}

#imageb {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-row-start: 1;
    height: auto;
    line-height: 28px;
    color: #FFFFFF;
}

#image2 {
    width: 60%;
    border-radius: 6px;
    border: 3px solid #00A3DD;
    padding: 5px;
    margin-bottom: 15px;
}

#image3 {
    border-radius: 6px;
    width: 60%;
    border: 3px solid #00A3DD;
    padding: 5px;
    margin-bottom: 15px;
}

#image4 {
    width: 60%;
    border-radius: 6px;
    border: 3px solid #00A3DD;
    padding: 5px;
}

#history {
    margin-right: 55px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 2;
    text-indent: 50px;
}

* {
    box-sizing: border-box;
  }

  @media only screen and (max-width: 1441px) {
    #imageB {
        height: 100%;
    }
        #image2 {
            margin-bottom: 55px;
        }
        
        #image3 {
            margin-bottom: 55px;
        }
    }

body3 h1 {
    color: #1EB53A;
    text-align: center;
    font-size: 35px;
    position: relative; top: 80px;
}

body3 p2 {
    color: #ebd89f;
    margin-left: 39.1%;
    font-size: 22px;
    position: relative; top: 80px;
    letter-spacing: 0.25px;
}

#container3 {
    display: grid; 
    position: relative; top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: bold;
}

#container3 p {
    color: #FCD116;
    position: relative; top: 10px;
    font-size: 25px;
    margin-top: 40px;
}

#container3 p1 {
    position: relative; top: 10px;
    font-size: 17px;
    color: #FFFFFF;
}

#row1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

#row2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#row3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

#i1943 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #1EB53A #FCD116 #5A5A5A #00A3DD;
    padding: 5px;
}

#i1954 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #00A3DD #1EB53A #FCD116 #5A5A5A;
    padding: 5px;
}

#i1967 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #5A5A5A #00A3DD #1EB53A #FCD116;
    padding: 5px;
}

#i1973 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FCD116 #5A5A5A #FFFFFF red;
    padding: 5px;
}

#i1983 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FFFFFF red;
    padding: 5px;
}

#i1996 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FFFFFF red;
    padding: 5px;
}

#i2006 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FFFFFF red;
    padding: 5px;
}

#i2012 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FFFFFF red;
    padding: 5px;
}

#i2022 {
    width: 65%;
    height: 20%;
    border-radius: 6px;
    border: 3px solid;
    border-color: #FFFFFF red;
    padding: 5px;
}